*{
	font-family: 'Inconsolata', monospace;
}
.head-wrap{
	height: 600px;
	background-image: url(../img/bckgrd-head.png);
	background-size: 100%;
}
.head-wrap-1{
	background-color: rgba(0,0,0,0.6);
}
.fas{
	font-size: 35px;
	color: lightblue;
}
.btn-outline-primary{
	color: #fff !important;
	border-color: #fff !important;
}
.line{
	height: 5px;
	width: 100px;
	background: #555555;
}
.about-us,
.our-clients{
	background: rgba(0, 0, 0, .1);
}
.like-our-work{
	height: 300px;
	background-image: url(../img/like-our-work.png);
	background-size: 100%;
}
.our-work-wrap{
	background: rgba(0, 0, 0, 0.8);
}
.footer{
	background: #c0301c;
}
.line-footer{
	height: 5px;
	width: 200px;
	background: #fff;
}
img[alt="copyright"]{
	height: 30px;
	width: 30px;
}
img[alt*="icon"]{
	width: 75px;
	height: 75px;
}
img[alt="icon-3"]{
	position: relative;
	bottom: 12px;
}
.expert-supp{
	position: relative;
	bottom: 12px;
}
.person{
	position: relative;
	margin-bottom: 50px;
	height: 350px;
	padding: 0;
	border: 2px solid lightblue;
}
.person-description{
	position: absolute;
	z-index: -1 !important;
	background: rgba(173,216,230,.65);
	color: white;
}

.person:hover .person-description{
	z-index: 1 !important;
	display: block;
}

.work{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	border: 2px solid lightblue;
}
.work-description{
    position: absolute;
    z-index: -1;
}

.work:hover .work-description{
	z-index: 1;
	height: 100%;
	width: 100%;
    background: rgba(173,216,230,.65);
}

.work > div > button{
	height: 40px;
}
.slick-prev{
	left: -63px;
	top: 155px;
}
.slick-prev:before{
	font-size: 40px;
	color: lightcoral;
}
.slick-next{
	right: -25px;
	top: 155px;
}
.slick-next:before{
	font-size: 40px;
	right: -15px;
	color: lightcoral;
}
@media screen and (max-width: 1199px){
	img[alt="icon-3"]{
		position: static;
	}
	.expert-supp{
		position: static;
	}
}
@media screen and (max-width: 700px){
	.slick-prev:before,
	.slick-next:before{
		display: none !important;
	}
	.slick-next{
		right: 10%;
	}
}
@media screen and (max-width: 700px){
	.work > div > h5{
		font-size: 10px;
		margin-top: 15px;
	}
	.work > div > p{
		font-size: 7px;
		margin-bottom: 5px;
	}
	.work > div > button{
		margin-bottom: 10px;
		height: 5px;
		width: 50px;
		font-size: 10px;
	}
	.work > div > button > p{
		position: relative;
		bottom: 5px;
		text-align: center;
	}
}